### Java & Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Ignorar o wrapper se você não o utiliza explicitamente
.mvn/wrapper/maven-wrapper.jar

### Allure Framework ###
# Importante: nunca subir os resultados ou o binário local
.allure/
allure-results/
allure-report/
allure-history/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse & NetBeans ###
.metadata
.classpath
.project
.settings/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Sistema Operacional ###
.DS_Store
Thumbs.db